<h1><%= current_user.name %>'s Expense Tracker</h1>
<h3 id='your_expenses'>Your Expenses
    <% @expenses.each do |t| %>
        <% @a = @a + t.amount %>
    <% end %>
</h3>
<% @rBudget = @budget - @a %></p>
<div id="totals">
    <h3 id = "expense_total"> Total Expenses = <%= @a %> </h3> 
    <h3 id = "budget"> Starting Budget = <%= @budget %></h3>
    <h3 id = "budget_remaining"> Remaining Funds = <%= @rBudget %></h3>
</div>
 <button id= 'new_expense'><%= link_to  "New Expense", new_expense_path %></button>

<% @transpo.each do |t| %>
 <% @t_amount = @t_amount + t.amount.to_i %>
<% end %>

<% @food.each do |f| %>
 <% @f_amount = @f_amount + f.amount.to_i %>
<% end %>



<div id = 'budget_chart'><%= pie_chart ({Transportation: @t_amount, Food: @f_amount, Budget_Left_Over: @rBudget}) %></div>
<% @expenses.each do |i|%>
    <% if i.user_id == current_user %>  
        <% @expArr.push(i)%>
    <% end %>
<% end %>
<% if @expArr.length > 0%>
    <% @expArr.each do |e| %>
        <ul>
            <li><%= link_to  e.name, "/expenses/#{e.id}" %> - <%= number_to_currency(e.amount) %><%= link_to  'Delete', expense_path(e.id), method:"delete"%></li>
        </ul>
    <% end %>
<% end %>


